<div class="pb-4">
    <!-- <svg class="group-hover:stroke-myRed stroke-myGray color-trans-out" xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M5 12h14"/></svg>         -->

    <div class="flex items-center fade-in-slow">
        <app-editable-text
            [servicePatchFunction]="movementService.patchMovementStringByID.bind(movementService)"
            [htmlId]="'movement-' + movement.id + '-movType'"     
            [entityId]="movement.id"
            [maxLength]="40"
            [initValue]="movement.movType"
            fieldName="movType"
            class="flex-[4] max-w-[650px]"
            classStyles=" box-content ml-[-0.4rem] mt-[-0.5rem] p-2 w-[90%] text-xl hover:text-myBlue focus:text-myBlue color-trans-lin "
        ></app-editable-text>

        <button class="pr-4 group flex-1 mt-[-13px] " (click)="toggleOpen()" >
            <svg *ngIf="!isOpen" class="ml-auto  group-hover:stroke-myCyan stroke-black color-trans-out" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="m6 9 6 6 6-6"/></svg>
            <svg *ngIf="isOpen" class="ml-auto  group-hover:stroke-myCyan stroke-black color-trans-out" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="m18 15-6-6-6 6"/></svg>
        </button>

        <button class="mt-[-15px] " (click)="emitDeleteMovementIdEvent()" >
            <svg class="hover:stroke-myRed stroke-myGray  color-trans-lin" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            
        </button>
    </div>



    <div [class.hidden]="!isOpen" class="mt-[-0.25rem]">
        
        <app-sset-li 
        (deleteSsetIdEvent)="deleteSset($event)"
        class=""
        *ngFor="let sset of movement.ssetList" [sset]="sset"></app-sset-li>

        <button (click)="createSset()" [disabled]="movement.ssetList.length >= 20" class="ml-6 pt-1 fade-in-slow">
            <svg [class.hover:stroke-myGreen]="movement.ssetList.length < 20" class="stroke-myGray color-trans-out" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M5 12h14"/><path d="M12 5v14"/></svg>
        </button>
    </div>

    


    <!-- <app-editable-text
            [servicePatchFunction]="movementService.patchMovementStringByID.bind(movementService)"
            [htmlId]="'movement-' + movement.id + '-notes'"     
            [entityId]="movement.id"
            [maxLength]="120"
            [initValue]="movement.notes"
            fieldName="notes"
            classStyles="mt-4 bg-yellow-300"
    
    ></app-editable-text> -->

    <!-- <app-editable-num
        [servicePatchFunction]="movementService.patchMovementNumberByID.bind(movementService)"
        [htmlId]="'movement-' + movement.id + '-restAfter'"     
        [entityId]="movement.id"
        [maxValue]="9999"
        [initValue]="movement.restAfter"
        [isFailable]="false"
        fieldName="restAfter"
        classStyles="mt-4 bg-red-300"
    ></app-editable-num> -->

    
    
    


    
</div>
