



<h1 class="text-5xl ml-10 mt-28 s5p:ml-14 s5p:mt-28 inline-block fade-in-slow ">RepBook</h1>

<a routerLink="/login" class="text-2xl ml-9 mt-[1.3rem] p-1.5 block w-fit s5p:hidden hover:text-myPurple color-trans-lin fade-in-slow">login</a>
<a routerLink="/signup" class="text-2xl ml-9 mt-1 p-1.5 block w-fit s5p:hidden hover:text-myPurple color-trans-lin fade-in-slow">signup</a>

<a routerLink="/login" class="text-2xl ml-8 p-1 hidden s5p:inline-block hover:text-myPurple color-trans-lin fade-in-slow">login</a>
<a routerLink="/signup" class="text-2xl ml-5 p-1 hidden s5p:inline-block hover:text-myPurple color-trans-lin fade-in-slow">signup</a>


